.groupOccupancy {
  padding: 0 5%;
}

.occupancyInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.occupancyPercentage {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FF4F17;
  margin-top: 5px;
  margin-right: 5px;
}

.occupancyText {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7F7F9C;
  margin-top: 5px;
  margin-left: 5px;
}
